<footer>
    <div class="footer-container">
        <div class="col-footer"><h5>{{lang "footer.version_title"}}</h5><span>{{lang "footer.version"}}</span></div>
        <div class="col-footer"><h5>{{lang "footer.local_tim_title"}}</h5><span id="local-time"></span></div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="module" src="{{script}}"></script>  
<script type="text/javascript" src="/scripts/footer.js"></script>