<nav class="navbar-nav">
  <ul class="navbar">
    <%#<li>
      <a href="/"><span class="icon"><i class="fa-solid fa-house"></i></span><span class="link-title">Inicio</span></a>
    </li>%>
    <li>
      <a href="/"><span class="icon"><i class="fa-solid fa-house"></i></span><span class="link-title">Tutorial</span></a>
    </li>
    <li>
        <button id="logout" class="nav_logout-button"><span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span><span class="link-title">Cerrar Sesión</span></button>
    </li>
    <li class="dropdown">
      
    </li>
  </ul>
</nav>
<div class="navbar-mobile">
  <i class="fa-solid fa-bars menu-toggle"></i>
</div>
