.project-actions {
	display: flex;
	justify-content: space-around;
}

.project-card-container {
	box-shadow: rgba(6, 6, 31, 0.699) 0px 4px 16px, rgba(6, 6, 31, 0.05) 0px 8px 32px;
}

.project-details {
	background-color: var(--primary-bg-color);
	border-radius: 0 0 12px 12px;
	padding: 0.5em 1em 0 1em;
}